.App {
  text-align: center;
}

nav.App-nav {
  display: flex;
  background: black;
  color: white;
  height: 35px;
  justify-content: space-around;
  align-items: center;
}

nav.App-nav a{
  width: 50%;
  color: white;
  text-decoration: none;
}

nav.App-nav a.active-link{
  color: rgb(203, 203, 203);
}